@font-face {
    font-family: "ProximaNova-Bold";
    font-style: normal;
    font-weight: bold;
    src: local("ProximaNova-Bold"),
         url("../fonts/ProximaNova-Bold.woff") format("woff");
}
:root {
    --color-primary: #3c3c3c;
    --color-secondary: #ce7852;
    --light-grey: #f8f3ff;
    --white: #fff
}
body {
    font-family: "ProximaNova-Bold";
    line-height: 1rem;
    color: var(--color-primary);
    background: var(--white);
}

*,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding: 73px 0;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 1.5rem;
}

.title span {
    color: var(--color-secondary);
}

.section__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    text-decoration: none;
    border: 5px solid var(--light-grey);
    color: var(--color-primary);
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-bottom: 30px;
}

.section__card:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.card__img{
    max-width: 55px;
    margin-left: 10px;
}

.section__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    position: relative;
}

.section__img img {
    box-sizing: content-box;
    padding: 0 13px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 24px;
    background-color: var(--white);
}

.section__img::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background: var(--light-grey);
}


